
  <div class="footer">
    <div class="flinks">
      <ul>
        <li class="nav-item "><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item "><a class="nav-link" href="/products">Products</a></li>
        <li class="nav-item "><a class="nav-link" href="/contact">Contact</a></li>
        <li class="nav-item "><a class="nav-link" href="/about">AboutUs</a></li>
<li style="color:white">made by <a style="color:white" href="www.jabbros.site">jababros</a> </li>
      </ul>
    </div>

    <div class="map">
      <iframe class="gmap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3601.7464341402365!2d81.87049341496758!3d25.48014108376533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399ab57965a4ed5f%3A0x8046539db69abaad!2sIshwar%20Saran%20Degree%20College!5e0!3m2!1sen!2sin!4v1580555996215!5m2!1sen!2sin"
        frameborder="0"
      ></iframe>


    </div>



  </div>
  <script type="text/javascript" src="script/app.js">

  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>


</html>
