<%- include("header"); -%>
<div class="image">
  <img name="slide" class="img-fluid main" alt="ceremics" width="100%" height="100%" src="images/cere23.jpg">
  <div class="chead">

  </div>

</div>

<div class="whole">

  <div class="lside">
    <div class="a">
      <li style="color:black;">
        <a style="color:black" href="/about">About Us</a>
      </li>
      <ul>
        <li class="lii"><a href="/about">company profile</a></li>
        <li class="lii"><a href="/about">cmd profile</a> </li>
      </ul>

    </div>
    <div class="a">
      <li style="color:black;">
        <a style="color:black" href="/products">Products</a>
      </li>
      <ul>

        <li class="lii">Ceramics</li>

      </ul>
      <ul>
        <li class="li">Tea Sets</li>
        <li class="li">vases</li>
        <li class="li">Milk/Coffe mug</li>
        <li class="li">flower vases/plts</li>
        <li class="li">Oil burners <br> Diffusers</li>
        <li class="li">Indoor planters <br> /table pots</li>
        <li class="li">Antique Flower planters</li>
        <li class="li">Bonsoi Pots</li>
        <li class="li">Garden Planters</li>
      </ul>



    </div>

    <div class="a">
      <li style="color:black;">
        <a style="color:black" href="#">Contact us</a></li>



    </div>


  </div>
  <div class="rside">
    <div class="poster3">

      <h1 class="font-italic">welcome</h1>
      <h2>TO PierImport</h2>
      <h1 class="font-italic">About Us</h1>
      <p>Pier Imports has ventured in to the import export trade of various products/commodities including ceramics product Agro based products,Antique products,Office products,gift items,Electronics products etc.
      </p>
      <button class="btn btn-outline-secondary" type="button" name="button"><a style="text-decoration: none;color:black" class="btn-outline-secondary" href="/about">Read More</a></button>
    </div>
    <div class="images">
      <div class="images-con">
        <img class="img-fluid i1" src="images/food1.jpg" alt="cere">

        <img class="img-fluid i2" src="images/cere3.jpg" alt="food3">
      </div>

      <button class="btn btn-pro btn-outline-secondary" type="button" name="button"><a style="text-decoration: none;color:black" class="btn-outline-secondary" href="other/products.html">All Products</a></button>

    </div>
    <div class="poster3">
      <h1 class="font-italic">what we offer</h1>
      <h2>our products</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo .</p>
      <button class="btn btn-outline-secondary" type="button" name="button"><a style="text-decoration: none;color:black" class="btn-outline-secondary" href="products">All Products</a></button>

    </div>
    <div class="images">
      <div class="images-con">
        <img class="img-fluid i1" src="images/food1.jpg" alt="cere3">

        <img class="img-fluid i2" src="images/cere3.jpg" alt="food3">
      </div>

      <button class="btn btn-pro btn-outline-secondary" type="button" name="button"><a style="text-decoration: none;color:black" class="btn-outline-secondary" href="other/products.html">All Products</a></button>

    </div>



        <%-include("footer");-%>



  </div>


</div>
