<%- include("header"); -%>

  <div class="pimage">
    <img src="../images/cere.jpg" alt="alt"  width="100%" height="100%">
  </div>
<div class="poster3">
  <h2  class="font-italic">our products</h2>
</div>
  <ul>

            <li  ><a href="#">Ceramics</a></li>

  </ul>
  <ul>
    <li >Tea Sets</li>
    <li >vases</li>
    <li>Milk/Coffe mug</li>
    <li >flower vases/plts</li>
    <li >Oil burners  <br>  Diffusers</li>
    <li >Indoor planters <br> /table pots</li>
    <li >Antique Flower planters</li>
    <li >Bonsoi Pots</li>
    <li >Garden Planters</li>
  </ul>



    <%-include("footer");-%>
